{% extends "base.html" %}
{% block title %}About{% endblock %}
{% set active_page = "about" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">About</h1>

<p>PRECEPT – PRostatE CancEr Prognosis and Treatment: <a href="assets/img/precept_about_slides.pdf">Overview of the project (PDF)</a>.</p>

<p>The hypothesis of the study is that changes identified in the genomic/epigenomic/transcriptional landscape of prostate cancer drives progression of localised disease, and can be used to prognosticate natural history, design better treatments and
    predict therapeutic response. Our specific aims are:</p>
    <ol>
        <li>To develop a prostate tissue-based and plasma test to predict the natural history of clinically
            localised prostate cancer
            <ul>
                <li>To develop a tissue based prognostic test that:</li>
                <ul>
                    <li>identifies a genomic driver of localised prostate cancer</li>
                    <li>is specific for African-Ancestry</li>
                    <li>identifies key drivers of disease metastasis</li>
                </ul>
                <li>To develop a plasma based ctDNA test to identify high risk features</li>
                <li>To conduct decision making analysis that will support treatment de-escalation</li>
            </ul>
        </li>
        <li>To develop new treatment approaches to high-risk disease that improve patient outcomes via
            the establishment of:
            <ul>
                <li>Androgen deprivation and erdafitinib pre-prostatectomy trial (ADEPT study)</li>
                <li>Immune mobilisation for prostate cancer study (IMPROvE)</li>
            </ul>
        </li>
        <li>To develop companion biomarkers that predict response to systemic treatments in high risk disease
            <ul>
                <li>To validate a compound tumour suppressor signature</li>
                <li>To validate the genomic marker of androgen sensitivity</li>
            </ul>
        </li>
    </ol>

<p>The research program runs from July 2019 to June 2022.</p>

<p>A successful program will significantly impact the clinical management of men with localised prostate cancer by:</p>

<ol>
    <li>Allowing identification of men with lethal disease earlier in the natural history, providing the opportunity for treatment intensification.</li>
    <li>Providing reassurance to a proportion of men with localised disease for whom treatment is currently recommended, that treatment intensification is unnecessary, or indeed, that radical treatment can be avoided.</li>
    <li>Developing new multimodal strategies for treating patients with lethal disease at an early stage, to maximise long-term disease control and minimise morbidity.</li>
    <li>Validating a number of biomarkers that may predict response to systemic therapies, permitting individualisation of patient care.</li>
</ol>

{% endblock %}
