{% extends "base.html" %}
{% block title %}Collaboration{% endblock %}
{% set active_page = "collaboration" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Collaboration</h1>

<h3 class="my-5">Pan Prostate Cancer Group (PPCG)</h3>

<p>Many groups around the world have generated Whole Genome DNA Sequence (WGS) data. To co-ordinate this work Professor Eeles held the first Pan Prostate Cancer workshop in London on 3 October 2014. The attending groups unanimously supported the idea that the accumulated data, should be collected and compared in a common format including common storage, re-analysis through a single pipeline, and investigation to achieve a variety of scientific goals. The data collected so far includes WGS and exomes from over 2000 tumours and matching bloods, but this number is likely to expand considerably.</p>

<p>Link: <a href="http://panprostate.org/index.html">http://panprostate.org/index.html</a></p>

<h3 class="my-5">Helsinki Biobank</h3>

<p>Helsinki Biobank is a hospital based biobank founded by the Hospital District of Helsinki and Uusimaa (HUS), the University of Helsinki, Kymenlaakso Social and Health Services (Carea) and the South Karelia Social and Health Care District (Eksote). Once fully operational, Helsinki Biobank covers 1,9 million inhabitants.</p>

<p>Link: <a href="https://www.terveyskyla.fi/helsinginbiopankki/en">https://www.terveyskyla.fi/helsinginbiopankki/en</a></p>

{% endblock %}
