{% extends "base.html" %}
{% block title %}Funding{% endblock %}
{% set active_page = "funding" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Current Funding</h1>

<div class="row">
    <div class="col-6">
        <img class="img-thumbnail mr-3" src="assets/img/cancer_aus_govt.jpg" alt="This initiative is funded by the Australian Government with strategic oversight by Cancer Australia">
    </div>
    <div class="col-6">
        <img class="img-thumbnail mr-3" src="assets/img/movember.png" alt="Movember funded">
    </div>
</div>

<h3>About PCRA</h3>

<p>The Prostate Cancer Research Alliance is a collaborative program co-funded by the Australian Government (Department of Health) and Movember. Managed by Movember with joint governance from Cancer Australia, the initiative aims to leverage Australia’s existing strength in prostate cancer research and accelerate the translation of outcomes into clinical practice in the identified priority areas within the next 5 to 7 years.</p>
 
<h3>About Movember</h3>

<p>Movember is the leading charity dedicated to changing the face of men's health around the world. With a singular goal to stop men dying too young, the foundation supports the following causes: prostate cancer, testicular cancer, mental health and suicide prevention. By funding projects like the Prostate Cancer Research Alliance, Movember is working towards its goal to halve the number of deaths from prostate cancer by 2030. Since 2003, the support of more than 5 million participants has funded over 1,200 innovative projects across more than 20 countries. To donate or learn more, please visit <a href="movember.com">movember.com</a>.</p>

<h3>About Cancer Australia</h3>

<p>Cancer Australia was established by the Australian Government in 2006 to benefit all Australians affected by cancer, and their families and carers. Cancer Australia aims to reduce the impact of cancer, address disparities and improve outcomes for people affected by cancer by leading and coordinating national, evidence-based interventions across the continuum of care <a href="www.canceraustralia.gov.au">www.canceraustralia.gov.au</a>.</p>


{% for funding in contents.current %}

  <div class="card my-5">
    <h4 class="card-header">{{ funding.title }}</h4>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-2">Source</dt>
        <dd class="col-sm-10">{{ funding.source }}</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">{{ funding.type }}</dd>

        <dt class="col-sm-2">Investigators</dt>
        <dd class="col-sm-10">{{ funding.investigators}}</dd>

        <dt class="col-sm-2">Start year</dt>
        <dd class="col-sm-10">{{ funding.start_year }}</dd>

        <dt class="col-sm-2">Duration</dt>
        <dd class="col-sm-10">{{ funding.duration}}</dd>

        <dt class="col-sm-2">Amount</dt>
        <dd class="col-sm-10">{{ funding.amount}}</dd>
      </dl>
    </div>
  </div>

{% endfor %}


{% endblock %}
