{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "home" %}
{% block content %}
{{ super () }}

<div class="jumbotron jumbotron-fluid my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/logo.png" style="width:100%"/>
      </div>
      <div class="col-md-6 my-5">
         <div class="lead">{{ contents.tagline }}</div> 
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
      <img src="{{ contents.photo }}" class="img-fluid rounded img-thumbnail" alt="Group Photo">
  </div>

  <div class="col-6">
    <h3>Overview</h3>
      {{ contents.overview }}
  </div>

</div> <!-- The team photo and overview -->

<h3 class="my-3"><span class="badge badge-secondary">News</span></h3>

<div class="card-deck my-5">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Recent publications and presentations</h4>
        <p class="card-text">
          <ul>
            {% for entry in publications_presentations %}
               <li>{{ entry.item }}</li>
            {% endfor %}
          </ul>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="publications_presentations.html">View all publications and presentations</a></small>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Media and events</h4>
        <p class="card-text">
        <ul>
          {% for event in media_events %}
            <li>{{ event.date }}: {{ event.description }}</li>
          {% endfor %}
        </ul>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="media_events.html">View all media and events</a></small>
    </div>
  </div>

</div>

{% endblock %}
