{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% set active_page = "team" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Team members</h1>

<p>The research team includes both national and international leaders in prostate cancer research, as well as a number of researchers new to the field, and specifically promotes the contribution of emerging and mid-career researchers. This team has a track record of original, high-impact discoveries and recurrent funding, and have the necessary industry collaborations to facilitate future translation of their findings.</p>

  {% for person in contents %}
    <div class="card my-5">
      <h4 class="card-header">{{ person.name }}</h4>
      <div class="card-body">

        <p class="card-text">
	  <div class="row">
            <div class="col-4">
              <img class="img-thumbnail mr-3" src="{{ person.photo }}" alt="{{ person.name }}">
            </div>

            <div class="col-8">

              <dl class="row">
                {% if person.role %}
                  <dt class="col-sm-3">Role</dt>
                  <dd class="col-sm-9">{{ person.role }}</dd>
                {% endif %}
                {% if person.affiliation %}
                  <dt class="col-sm-3">Affiliation</dt>
                  <dd class="col-sm-9">{{ person.affiliation }}</dd>
                {% endif %}
                {% if person.url%}
                  <dt class="col-sm-3">Profile</dt>
                  <dd class="col-sm-9">{{ person.url }}</dd>
                {% endif %}
              </dl>
            </div>
	  </div>

          <h4 class="my-3">Career summary</h4>
          {{ person.career }}
      </div>
    </div>

  {% endfor %}

{% endblock %}
